<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello {{ userName }} from BridgeLabz</h1>
      <p>Congratulations! UC5 is running. 🎉</p>
      <img [src]="imgUrl" (click)="onClick()" alt="The BridgeLabz logo: A Bridge to Employment through a Lab Works." />
    </div>

    <div>
      <input (input)="onInput($event)" [(ngModel)]="userName" />
      <span
        [ngStyle]="{ color: nameError === 'Name is Correct!' ? 'green' : 'red' }"
        class="error-output">
        {{ nameError }}
      </span>
    </div>
  </div>
</main>
<router-outlet></router-outlet>